* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.a4 {
    width: 210mm;
    height: 297mm;
    max-width: 210mm;
    max-height: 297mm;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}

.postal-information {
    display: flex;
    flex-direction: column;
}

.my-name, .client-name {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1px;
}

.my-address, .my-address-comp, .my-city, .my-siren, .my-tva, .client-address, .client-address-comp, .client-city {
    font-size: large;
    margin-bottom: 2px;
}

.client-information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.client-information .right {
    max-width: 50%;
}

.document-information {
    margin-top: 20px;
}

.document-type-number {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1px;
    color: #525252;
}

.document-information-content {
    margin: 8px 0;
    padding: 8px 0;
    font-size: large;
    border-top: 1px solid #525252;
    border-bottom: 1px solid #525252;
}

.document-product {
    border: #444444 1px solid;
    margin-top: 20px;
}

.document-product table {
    border-collapse: collapse;
    width: 100%;
    max-width: 210mm;
    height: 125mm;
    max-height: 125mm;
}

.document-product table th, .document-product table td {
    border-right: 1px solid #525252;
    padding: 5px;
    font-size: small;
}

.document-product table tr th {
    border-bottom: 1px solid #525252;
    width: 10mm;
    max-width: 10mm;
    height: 6mm;
    max-height: 6mm;
}

.document-product table thead :last-child, .document-product table tbody :last-child, .document-product table tfoot :last-child {
    border-right: none;
}

.document-product table tr td.column {
    text-align: right;
    overflow-x: clip;
    width: 10mm;
    max-width: 10mm;
}

.document-product table tr th:first-child {
    width: 45%;
    max-width: 94mm;
}

.document-product table tr td:first-child {
    width: 45%;
    max-width: 94mm;
    text-align: left;
}

.document-product table tbody tr td {
    height: 6mm;
    vertical-align: center;
}

span.product-name {
    font-weight: bold;
    font-size: small;
}

span.product-desc {
    padding-left: 2mm
}

.footer {
    margin-top: 25px;
    display: inline-block;
    width: 100%;
}

.footer-left {
    width: 50%;
    float: left;
}

.tva-part table {
    width: 75%;
    border: 1px solid #525252;
    text-align: center;
    border-collapse: collapse;
}

.tva-part table th, .tva-part table td {
    border: 1px solid #525252;
    padding: 1px 5px;
    font-size: small;
}

.tva-part table th tr {
    border-bottom: 1px solid #525252;
    text-align: center;
    height: 6mm;
    max-height: 6mm;
}

.tva-part table thead :last-child, .tva-part table tbody :last-child, .tva-part table tfoot:last-child {
    border-right: none;
}

.tva-part table tbody tr td.column {
    text-align: right;
    overflow-x: clip;
}

.tva-part table tbody tr td {
    height: 6mm;
    vertical-align: center;
}

.special-part {
    margin-top: 10px;
    width: 100%;
    max-width: 105mm;
    font-size: small;
}

.footer-right {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-part table {
    width: 75%;
    max-width: 105mm;
    border-collapse: collapse;
    position: absolute;
    right: 0;
    border: 1px solid #525252;
}

.total-part table td {
    padding: 1px 5px;
    font-size: small;
    border: 1px solid #525252;
}

.total-part table tbody :last-child, .total-part table tfoot :last-child {
    border-right: none;
}

.total-part table tr td.column {
    overflow-x: clip;
    text-align: right;
}

.total-part table tr td:first-child {
    text-align: left;
    font-weight: bold;
}

.total-part table tbody tr td {
    height: 6mm;
    vertical-align: center;
}